.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.home-navbar-container {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    /* box-shadow: 5px 5px 10px 0px #b9b9b9; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
}

.home-navbar {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: center;
}

.home-logo {
    width: 70px;
    height: 69px;
    align-self: center;
    box-shadow: 10px 10px 10px 0px #151313;
    object-fit: cover;
    margin-right: var(--dl-space-space-doubleunit);
}

.home-right-side {
    width: 100%;
    height: 59px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding-left: 777px;
    flex-direction: row;
}

.home-links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.home-link {
    color: var(--dl-color-gray-black);
    font-weight: 700;
    margin-right: var(--dl-space-space-tripleunit);
    text-decoration: none;
}

.home-link01 {
    color: var(--dl-color-gray-black);
    font-style: normal;
    font-weight: 700;
    margin-right: var(--dl-space-space-tripleunit);
    text-decoration: none;
}

.home-link02 {
    font-size: 25px;
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.55;
    margin-right: var(--dl-space-space-tripleunit);
    text-transform: capitalize;
}

.home-hero {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-tenunits);
    background-size: cover;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIwfHxzcGFjZXxlbnwwfHx8fDE2OTY0ODQ3ODd8MA&ixlib=rb-4.0.3&w=1500");
    background-repeat: no-repeat;
    background-position: center;
}

.home-text {
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: #fffafa;
    width: 600px;
    height: 120px;
    font-size: 60px;
    font-style: normal;
    text-align: justify;
    font-weight: 900;
}

.home-content-container {
    width: 100%;
    height: 293px;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    margin-top: var(--dl-space-space-fiveunits);
    align-items: flex-start;
    padding-top: 65px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 95px;
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tenunits);
    justify-content: flex-start;
}

.home-heading {
    width: 600px;
    height: 80px;
    border: 5px #69ff6ef6 dashed; 
    margin: 60px;
    padding: 50px;
    font-size: 35px;
    align-self: flex-start;
    text-align: left;
    font-weight: 800;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text01 {
    color: #fffafa;
    font-family: "Georgia";
}

.home-text02 {
    color: #de0c0c;
    font-family: "Georgia";
}

.home-text03 {
    color: #fffafa;
    font-family: "Georgia";
}

.home-text04 {
    color: var(--dl-color-gray-black);
    font-family: "Georgia";
}

.home-text05 {
    color: #2feab6;
    font-family: "Georgia";
}

.home-image {
    width: 700px;
    height: 350px;
    box-shadow: 5px 5px 10px 0px #185fb3;
    margin-right: 50px;
    margin-left: 500px;
    object-fit: cover;
    border-color: #f3f1f1;
    border-style: double;
    border-width: 4px;
}

.home-features {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxcontent);
    align-items: center;
    padding-top: var(--dl-space-space-tenunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
}

.home-heading-container {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
}

.home-text07 {
    text-align: center;
    margin-bottom: var(--dl-space-space-fourunits);
}